<template name="card">
  <div class="card {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>

<template name="cardImage">
  <div class="card-image {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>

<template name="cardHeader">
  <header class="card-header {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </header>
</template>

<template name="cardHeaderTitle">
  <p class="card-header-title {{class}}" {{others}}>
    {{content}}
    {{> Template.contentBlock}}
  </p>
</template>

<template name="cardHeaderIcon">
  <a class="card-header-icon {{class}}" {{others}}>
    {{#if icon}}
      {{> icon icon=icon}}
    {{/if}}
    {{> Template.contentBlock}}
  </a>
</template>

<template name="cardContent">
  <div class="card-content {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>

<template name="cardFooter">
  <footer class="card-footer {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </footer>
</template>

<template name="cardFooterItem">
  {{#if isA}}
    <a class="card-footer-item {{class}}" href="{{href}}" {{others}}>
      {{content}}
      {{> Template.contentBlock}}
    </a>
  {{else}}
    <p class="card-footer-item {{class}}" {{others}}>
      {{content}}
      {{> Template.contentBlock}}
    </p>
  {{/if}}
</template>

