<template name="field">
  <div class="field {{addons}} {{grouped}} {{groupedMultiline}} {{horizontal}} {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>

<template name="label">
  <label class="label {{class}}" {{others}}>
    {{content}}
    {{> Template.contentBlock}}
  </label>
</template>

<template name="fieldLabel">
  <div class="field-label {{size}} {{class}}" {{others}}>
    {{#if content}}
      <label class="label">{{content}}</label>
    {{/if}}
    {{> Template.contentBlock}}
  </div>
</template>

<template name="fieldBody">
  <div class="field-body {{class}}" {{others}}>
    {{content}}
    {{> Template.contentBlock}}
  </div>
</template>

<template name="fieldControl">
  <div class="control {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>