<template name="bluzmaField">
  <div class="field {{addons}} {{grouped}} {{groupedMultiline}} {{horizontal}} {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>

<template name="bluzmaLabel">
  <label class="label {{class}}" {{others}}>
    {{content}}
    {{> Template.contentBlock}}
  </label>
</template>

<template name="bluzmaFieldLabel">
  <div class="field-label {{size}} {{class}}" {{others}}>
    {{#if content}}
      <label class="label">{{content}}</label>
    {{/if}}
    {{> Template.contentBlock}}
  </div>
</template>

<template name="bluzmaFieldBody">
  <div class="field-body {{class}}" {{others}}>
    {{content}}
    {{> Template.contentBlock}}
  </div>
</template>

<template name="bluzmaFieldControl">
  <div class="control {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>
