<template name="bluzmaLevel">
  <div class="level {{mobile}} {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>

<template name="bluzmaLevelLeft">
  <div class="level-left {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>

<template name="bluzmaLevelRight">
  <div class="level-right {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>

<template name="bluzmaLevelItem">
  <div class="level-item {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>