<template name="lvl">
  <div class="level {{mobile}} {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>

<template name="lvlL">
  <div class="level-left {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>

<template name="lvlR">
  <div class="level-right {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>

<template name="lvlI">
  <div class="level-item {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>