<template name="level">
  <div class="level {{mobile}} {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>

<template name="levelLeft">
  <div class="level-left {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>

<template name="levelRight">
  <div class="level-right {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>

<template name="levelItem">
  <div class="level-item {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>