<template name="message">
  <article class="message {{color}} {{size}} {{class}}" {{others}}>
    {{#if content}}
      {{> messageBody content=content}}
    {{/if}}
    {{> Template.contentBlock}}
  </article>
</template>

<template name="messageHeader">
  <div class="message-header {{class}}" {{others}}>
    {{#if content}}
      <p>{{content}}</p>
    {{/if}}
    {{> Template.contentBlock}}
    {{#if delete}}
      <button class="delete" aria-label="delete"></button>
    {{/if}}
  </div>
</template>

<template name="messageBody">
  <div class="message-body {{class}}" {{others}}>
    {{content}}
    {{> Template.contentBlock}}
  </div>
</template>