<template name="bluzmaModal">
  <div class="modal {{class}}" {{others}}>
    {{#if background}}
      <div class="modal-background"></div>
    {{/if}}
    {{> Template.contentBlock}}
  </div>
</template>

<template name="bluzmaModalCard">
  <div class="modal-card {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </div>
</template>

<template name="bluzmaModalCardHead">
  <header class="modal-card-head {{class}}" {{others}}>
    {{#if content}}
      <p class="modal-card-title">{{content}}</p>
    {{/if}}
    {{> Template.contentBlock}}
    {{#if delete}}
      <button class="delete" aria-label="close"></button>
    {{/if}}
  </header>
</template>

<template name="bluzmaModalCardBody">
  <section class="modal-card-body {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </section>
</template>

<template name="bluzmaModalCardFoot">
  <footer class="modal-card-foot {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </footer>
</template>