<template name="select">
  <div class="select {{color}} {{expanded}} {{fullwidth}} {{iconsLeft}} {{loading}} {{multiple}} {{rounded}} {{size}} {{class}}" {{others}}>
    <select name="{{name}}" class="{{focused}} {{hovered}}" multiple="{{multiple}}">
      {{#with defaultOption}}
        <option selected value="{{value}}" disabled="{{disabled}}">{{label}}</option>
      {{/with}}
      {{#each option in options}}
        {{> selectOption value=option.value label=option.label}}
      {{/each}}
      {{> Template.contentBlock}}
    </select>
  </div>
</template>

<template name="selectOption">
  <option class="{{class}}" value="{{value}}" {{others}}>{{label}}</option>
</template>