<template name="bluzmaTable">
  {{#if responsive}}
    <div style="display: block;overflow-y: auto;width: 100%;">
      <table class="table {{bordered}} {{fullwidth}} {{hoverable}} {{narrow}} {{striped}} {{class}}" {{others}}>
        {{> Template.contentBlock}}
      </table>
    </div>
  {{else}}
    <table class="table {{bordered}} {{fullwidth}} {{hoverable}} {{narrow}} {{striped}} {{class}}" {{others}}>
      {{> Template.contentBlock}}
    </table>
  {{/if}}
</template>

<template name="bluzmaTableRow">
  <tr class="{{selected}} {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </tr>
</template>

<template name="bluzmaTableCell">
  {{#if heading}}
    <th class="{{class}}" {{others}}>
      {{content}}
      {{> Template.contentBlock}}
    </th>
  {{else}}
    <td class="{{class}}" {{others}}>
      {{content}}
      {{> Template.contentBlock}}
    </td>
  {{/if}}
</template>

<template name="bluzmaTableHead">
  <thead class="{{selected}} {{class}}" {{others}}>
    {{> Template.contentBlock}}
  </thead>
</template>

<template name="bluzmaTableBody">
  <tbody class="{{class}}" {{others}}>
    {{> Template.contentBlock}}
  </tbody>
</template>

<template name="bluzmaTableFoot">
  <tfoot class="{{class}}" {{others}}>
    {{> Template.contentBlock}}
  </tfoot>
</template>